*~
.*~
*.bck
.*.bck
.DS_Store
.nbgrader.log
.ipynb_checkpoints/*
Ianno_Isem_19_20.pdf
Istruzioni_utilizzo_laboratori_informatici.pdf
Untitled*.ipynb
/ShellPrograms/.ipynb_checkpoints/*
/Notes/*
/Tests/*
/archive.ics.uci.edu/*
/Humour/.*
/tex/*
/ShellPrograms/__pycache__/*
/ipynb/.*
/ipynb/*sol*
/ipynb/Compiti_Frequenti_util.ipynb
/ipynb/__pycache__/*
/html/index01.html
/html/EserciziLaboratori/*sol*
/html/Messaggi/*
/ShellPrograms/Untitled.ipynb
Images/.ipynb_checkpoints/*
